<div id='most_recent_twonks'>
  <h1>Most Recently Twonked</h1>
  <%= render :partial => @most_recent_twonks %>
</div>

<div id='top_twonks'>
  <h1>Top Twonks</h1>
  <%= render :partial => @top_twonks %>
</div>
