<h2>New Twonk Nomination</h2>
<% form_for(@twonk) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <% fields_for @vote do |vote| %>
  <p>
  <%= vote.label :comment %><br />
  <%= vote.text_area :comment %>
  </p>
  <% end %>
  <%= submit_tag "Nominate!" %>
<% end %>
