<% @title = "Nominating new twonk" %>
<h1>New Twonk Nomination</h1>
<% form_for(@twonk) do |f| %>
  <%= error_messages_for :twonk, :vote %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <% fields_for @vote do |vote| %>
    <%= render :partial => "votes/form", :locals => { :f => vote }%>
  <% end %>
  <div>
    <%= submit_tag "Nominate!", :class => 'submit' %>
  </div>
<% end %>


