<h1>New Twonk Nomination</h1>
<% form_for(@twonk) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <% fields_for @vote do |vote| %>
    <div>
      <%= vote.label :comment %>
      <%= vote.text_area :comment %>
    </div>
  <% end %>
  <div>
    <%= submit_tag "Nominate!", :class => 'submit' %>
  </div>
<% end %>
