body {
  background:#232323;
  color:#fbac10;
  font:12pt sans-serif;
}
a {
  color:white;
}
img { 
  border:0px;
}
.vote {
  width:100%;
}
.vote .number {
  float:left;
  font-size:13pt;
}
.vote .comment {
  float:left;
  padding:5px;
  background:#343434;
  border:1px solid #171717;
  margin-left:20px;
}

