<h1>You've nominated <%= pluralize(current_user.nomination_count, "twonk") %></h1>
<% unless @twonks.empty? %>
  <%= render :partial => @twonks %>
<% else %>
  <p>You have not yet nominated any twonks!</p>
<% end %>
