<% @title = "How to spot a help vampire" %>
<h1>How to Spot a Help Vampire</h1>
Let's face it. We've all experienced the experience that is "help vampires" at least once in our lives. These individuals flock to flourishing communities and suck the life out of those who are willing to give up their free time to help others. For a further (and quite superb) explanation, visit <a href='http://www.slash7.com/pages/vampires'>Amy Hoy's: &quot;Help Vampires: A Spotters Guide&quot;</a>.<br /><br />

Generally if a person fufils three of these points they may be a help vampire.

<ol style='padding-left:50px'>
  <li>They will greet the channel on a single line.</li>
  <li>They will put a question mark on another line from their question, sometimes prefixed with your name.</li>
  <li>Sometimes they will write your name on a single line, and only your name.</li>
  <li>They will use a pastebin system that is not <a href='http://pastie.org'>Pastie</a> or <a href='http://gist.github.com'>Gist</a></li>
  <li>They will PM you without asking.</li>
  <li>They will almost always use shorthand.</li>
  <li>Adopts one channel/person as their personal tutor (thanks to Mike for this)</li>
  <li>They will not try answering their own questions by experimenting in the console (thanks to rsl for this).</li>
  <li>They will most likely not be a native speaker of the English language.</li>
  <li>Their questions will be vague or subjective.</li>
  <li>They will ask "any ideas?", sometimes on a single line.</li>
</ol>