<h1>About twonklist.com</h1>

<h2>What is this site?</h2>
<p>This site is a place for everybody to keep a list of idiots in the world, to warn other people about them; effectively a naming and shaming policy. Pretty simple really, you nominate somebody and other people can vote on those people. The people with the highest votes go on to the home page so that others can be warned faster.</p>

<h2>What is a twonk?</h2>
<p>Look it up. If you don't know how, please nominate yourself on this site by clicking the first link in the menu.</p>

<h2>Why am I on this site?</h2>
<p>Somebody you know, or somebody you don't, thought of you as so much of an idiot that they had to tell the world about it. Don't like that your name is on this list? Don't look at it.

<h2>Who can't I nominate?</h2>

You can nominate any single person or organisation in the world. The only thing we ask our users not to do is stereotype. For instance, if there was a nomination for say, ugly people, then we'll delete it, because not all ugly people are twonks. 

<h2>Legal Junk</h2>

Twonklist.com and it's owners take no responsibility for any content posted on this site by its users. We reserve the right to delete content without notice. Any user who abuses the services will be banned by username, a ban evasion will result in their IP being banned, and a second ban evasion will result in their class B range (first two numbers) being banned.
