<span>
  <b class="my-spiffy">
  <b class="my-spiffy1"><b></b></b>
  <b class="my-spiffy2"><b></b></b>
  <b class="my-spiffy3"></b>
  <b class="my-spiffy4"></b>
  <b class="my-spiffy5"></b></b>

  <div class="my-spiffyfg">
    <%= (h vote.comment).gsub("\n", "<br>") %>
  </div> 

  <b class="my-spiffy">
  <b class="my-spiffy5"></b>
  <b class="my-spiffy4"></b>
  <b class="my-spiffy3"></b>
  <b class="my-spiffy2"><b></b></b>
  <b class="my-spiffy1"><b></b></b></b>
</span>