<div class='number' align='left'>
  #<%= vote_counter %> <% if vote.user == current_user %> - <%= link_to "Edit", edit_twonk_vote_path(vote) %><% end %>
  <br>
<%= image_tag "quote-bubble.jpg", :class => "quote-bubble" %>
</div>
<span>
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>

  <div class="spiffyfg">
     <%= vote.comment.gsub("\n", "<br />") %>
  </div>

  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</span>


<!-- ARGH THIS IS HIDEOUSSSSSS -->
<div></div>
