<div>
<div class='vote-number'>#<%= vote_counter %>
<span class='user-image'>
[user-image]
<%= vote.user %>
</span>
</div>
<div class='vote-comment'>
  <%= vote.comment %>
</div>
</div>
<!-- ARGH THIS IS HIDEOUSSSSSS -->
<%= "<br>" * 10 %>

